<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/eventosaveiro.png" alt="Eaveiro logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

			{{ partial "newsletter-form" . }}

			<div class="mt3 lh-copy">
    <p><img src="/img/icons/location.svg" alt="Morada" style="width: 1rem; vertical-align: middle; margin-right: 0.5rem;"> Rua dos Marnotos, Aveiro, Portugal</p>
    <p><img src="/img/icons/phone.svg" alt="Telefone" style="width: 1rem; vertical-align: middle; margin-right: 0.5rem;"> 234 044 500</p>
    <p><img src="/img/icons/email.svg" alt="Email" style="width: 1rem; vertical-align: middle; margin-right: 0.5rem;"> <a href="mailto:eventosaveiro@eventosaveiro.com" class="link">eventosaveiro@eventosaveiro.com</a></p>
    <p><img src="/img/icons/web.svg" alt="Website" style="width: 1rem; vertical-align: middle; margin-right: 0.5rem;"> <a href="https://eventosaveiro.com" class="link">eventosaveiro.com</a></p>
  </div>

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Eaveiro</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Our products</a></li>
					<li><a href="/values" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule an appointment</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/EventosAveiro/" "svg" "icons-facebook" "alt" "Eventos Aveiro on Facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter" "alt" "Eaveiro on Twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram" "alt" "Eaveiro on Instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo" "alt" "Eaveiro on Vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>
