{{ define "main" }}
<section class="ph4 pv5 center measure-wide">
  <div class="tc">
    <h1 class="f2 lh-title">Quem Somos</h1>
    <h2 class="f4 gray">A sua equipa tecnológica</h2>
  </div>
  <div class="flex flex-column items-center mt4">
    <img src="/img/pictoniologo.png" alt="Pictonio" class="mb4" style="max-width: 150px">
    <p class="lh-copy measure center">
      Somos uma empresa de engenharia de software constituída por uma equipa experiente de engenheiros informáticos. Desenvolvemos sistemas e realizamos integrações entre as plataformas já existentes, procurando encontrar soluções eficazes e rentáveis para cada situação. <br>
      Respostas inovadoras, simples e intuitivas direcionadas à necessidade dos diversos utilizadores, que rentabilizam os processos de gestão e de suporte à decisão.
    </p>
  </div>

  <div class="tc mt5">
    <h3 class="f3">Áreas de Actuação</h3>
    <div class="flex flex-column flex-row-ns justify-around mt3">
      <div class="pa3">Indústria</div>
      <div class="pa3">Serviços</div>
      <div class="pa3">Instituições Públicas</div>
    </div>
  </div>

  <div class="tc mt5">
    <h3 class="f3">Proposta de Valor</h3>
    <div class="flex flex-column flex-row-ns justify-around mt3">
      <div class="w-100 w-third-ns pa3 valor-card">
        <img src="/img/qs1.jpg" alt="Soluções à medida" class="mb3 grow-img" />
        <h4 class="valor-title b">Soluções à medida</h4>
        <p class="lh-copy valor-desc">Rentabilizamos as ferramentas de gestão existentes reunindo num só portal toda a informação, simples ou em gráficos, com interligação de dados.</p>
      </div>
      <div class="w-100 w-third-ns pa3 valor-card">
        <img src="/img/qs2.jpg" alt="Open Source" class="mb3 grow-img" />
        <h4 class="valor-title b">Open Source</h4>
        <p class="lh-copy valor-desc">Sempre procurámos responder aos desafios com tecnologias livres de licenças e custos excessivos. Por isso, tornámo-nos especialistas em soluções Open Source, sendo membros ativos da comunidade Drupal.</p>
      </div>
      <div class="w-100 w-third-ns pa3 valor-card">
        <img src="/img/qs3.jpg" alt="A Equipa" class="mb3 grow-img" />
        <h4 class="valor-title b">A Equipa</h4>
        <p class="lh-copy valor-desc">Uma equipa experiente, eficaz e motivada orientada para a resolução de problemas e desafios colocados pelos clientes.</p>
      </div>
    </div>
  </div>
</section>
<style>
  .grow-img {
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
    height: 300px;
    width: 100%;
    object-fit: cover;
    max-width: 100%;
  }
  .grow-img:hover {
    transform: scale(1.08);
  }
  .valor-desc {
    font-size: 0.8rem;
  }
  .valor-title {
    font-size: 1.3rem;
  }
  .valor-card {
    max-width: 350px;
    margin: 0 auto;
  }
</style>
{{ end }}